<%- include('includes/head.ejs', {username: username}) %>

<div class="container">
    <h1 class="title has-text-centered is-italic is-1 is-family-code">WOOOW encontraste mi pagina secreta muajaajja</h1>
    <p id='result'></p>

    <p id="miParrafo" class="is-size-4" onmouseover="cambiarEstilo()" onmouseout="restaurarEstilo()">Texto sorpresa</p>

<%- include('includes/footer.ejs')%>