h1,h3,p{text-align:center}a,h3{color:#fff}
body{background:#020024;background:linear-gradient(270deg,#020024 0,#8b1b2a 35%,red 100%)}
h1{color:#790808;font-family:'Public Pixel',sans-serif}h3{font-family:Ultra}
p{color:#1e0f1d;font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif}
h4{font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif}
img{display:block;margin:0 auto}