h1,h3,p{text-align:center}
a,p{color:#fff}
body{background:#020024;background:linear-gradient(270deg,#020024 0,#420366 35%,#530e5c 100%)}
h1{color:#06633c;font-family:'Times New Roman',Times,serif}
h3{color:#fffefe;font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif}
h4,p{font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif}
img{display:block;margin:0 auto}